
.field-accordion {
}

.field-accordion-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: bold;
}

.field-accordion-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: #6C757D;
}

.field-accordion-detail {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-size: 1rem;
}

.field-accordion-detail-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field-accordion-detail-button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
