@using Microsoft.JSInterop
@using Newtonsoft.Json.Linq

@inject IJSRuntime JSRuntime
@inject NavigationManager  NavigationManager;


@if (ScreenWrapperField == null) {
    <p>Loading...</p>
}
else {
    <div class="field-screenwrapper">
        <div class="container-fluid overflow-hidden p-0 h-100">
            @if (!string.IsNullOrEmpty(ScreenWrapperField.Source)) {
                <iframe class="col p-0 h-100" style="border:none;overflow-x:hidden;overflow-y:scroll" src="@ScreenWrapperField.Source"></iframe>
            }
            else { 
                <p>Empty Source...</p>
            }
        </div>
    </div>
}


@code {

    [Parameter]
    public FieldScreenWrapper ScreenWrapperField { get; set; }

}

