@using Newtonsoft.Json.Linq;

@inject SessionState Session;
@inject IJSRuntime JSRuntime;
@inject HttpClient Http;
@inject NavigationManager NavigationManager;

@if (_readyToDisplay)
{
    @if (_passwordChangedSuccess) {
        <div class="login-container" style="font-size:1.2rem;min-height:300px">
            <div class="container p-4 text-center">
                <div class="login-logo-container"></div>
                <p style="margin-top:10px;color:red">Password has been changed successfully.</p>
                <a href="javascript:window.location.replace('');">Click here to login again.</a>
            </div>
        </div>
    }
    else {
        <div class="login-container">
            <div class="container">
                <div class="login-logo-container"></div>
                <CompForm DataSource="@_formDataSrouce" Fields="@_fields" OnChange="@Form_OnChange">
                </CompForm>
            </div>
        </div>    
    }
    
}

@code {

    //string _loginBtnActiveClass = "btn-primary w-100 h-100 rounded-lg";
    //string name; string value; int days;

    //string _loginBtnClass;
    bool _readyToDisplay = false;
    bool _passwordChangedSuccess = false;
    JObject _formDataSrouce = new JObject();
    Config _config;

    FieldCollection _fields = new FieldCollection();

    private void InitData()
    {
        _formDataSrouce.Add("UserID", "");
        _formDataSrouce.Add("UserPassword", "");
    }

    private void InitFields()
    {
        _fields.Clear();

        //FieldTitleBar titlebar = new FieldTitleBar();
        //titlebar.TitleText = string.Format("{0} - Login", SessionState.AppConfig.appTitle);
        //_fields.Add(titlebar);

        FieldContainer container = new FieldContainer("container-fluid d-flex-column mt-0");

        FieldContainer row1 = new FieldContainer("row mt-0");
        FieldText userID = new FieldText("UserID", "", "col-12 mt-0", false, false, "User Name", FieldTextMode.text);
        FieldTextButton txtBtnUser = new FieldTextButton();
        txtBtnUser.name = "btnTxtUser";
        txtBtnUser.location = FieldTextButtonLocation.after;
        txtBtnUser.options.disabled = true;
        txtBtnUser.options.icon = "oi oi-person";
        txtBtnUser.options.type = FieldTextButtonType.normal;
        txtBtnUser.options.stylingMode = FieldTextButtonStylingMode.text;
        userID.buttons.Add(txtBtnUser.name, txtBtnUser);

        FieldText userPassword = new FieldText("UserPassword", "", "col-12 mt-0", false, false, "Password", FieldTextMode.password);
        FieldTextButton txtBtnPswd = new FieldTextButton();
        txtBtnPswd.name = "btnTxtPassword";
        txtBtnPswd.location = FieldTextButtonLocation.after;
        txtBtnPswd.options.disabled = true;
        txtBtnPswd.options.icon = "oi oi-lock-locked";
        txtBtnPswd.options.type = FieldTextButtonType.normal;
        txtBtnPswd.options.stylingMode = FieldTextButtonStylingMode.text;
        userPassword.buttons.Add(txtBtnPswd.name, txtBtnPswd);

        FieldText newPassword = new FieldText("NewPassword", "", "col-12 mt-0", false, false, "New Password", FieldTextMode.password);
        FieldTextButton txtBtnNewPswd = new FieldTextButton();
        txtBtnNewPswd.name = "btnTxtNewPassword";
        txtBtnNewPswd.location = FieldTextButtonLocation.after;
        txtBtnNewPswd.options.disabled = true;
        txtBtnNewPswd.options.icon = "oi oi-lock-locked";
        txtBtnNewPswd.options.type = FieldTextButtonType.normal;
        txtBtnNewPswd.options.stylingMode = FieldTextButtonStylingMode.text;
        newPassword.buttons.Add(txtBtnNewPswd.name, txtBtnNewPswd);

        FieldText confPassword = new FieldText("ConfPassword", "", "col-12 mt-0", false, false, "Confirm Password", FieldTextMode.password);
        FieldTextButton txtBtnConfPswd = new FieldTextButton();
        txtBtnConfPswd.name = "btnTxtNewPassword";
        txtBtnConfPswd.location = FieldTextButtonLocation.after;
        txtBtnConfPswd.options.disabled = true;
        txtBtnConfPswd.options.icon = "oi oi-lock-locked";
        txtBtnConfPswd.options.type = FieldTextButtonType.normal;
        txtBtnConfPswd.options.stylingMode = FieldTextButtonStylingMode.text;
        confPassword.buttons.Add(txtBtnConfPswd.name, txtBtnConfPswd);

        row1.Fields.Add(userID);
        row1.Fields.Add(userPassword);
        row1.Fields.Add(newPassword);
        row1.Fields.Add(confPassword);
        container.Fields.Add(row1);


        FieldContainer row2 = new FieldContainer("row mt-0 justify-content-end");
        FieldButton btnSubmit = new FieldButton("btnSubmit", "SUBMIT", "col-5");
        btnSubmit.StyleClass = "btn-primary";
        btnSubmit.OnClick += btnSubmit_OnClick;

        FieldButton btnCancel = new FieldButton("btnCancel", "CANCEL", "col-5");
        btnCancel.StyleClass = "btn-primary";
        btnCancel.OnClick += btnCancel_OnClick;

        row2.Fields.Add(btnSubmit);
        row2.Fields.Add(btnCancel);
        container.Fields.Add(row2);

        _fields.Add(container);

    }

    private async Task InitAsync()
    {
        if (_config == null) {
            _config = await Http.GetFromJsonAsync<Config>("config.json?time=" + DateTime.Now.ToString("yyyymmddhhmmss"));
        }
        Session.InitConfig(JSRuntime, _config);

        InitData();
        InitFields();
        _readyToDisplay = true;

        StateHasChanged();

        //Session.InitAPIService();
    }

    private void Form_OnChange(FieldChangeEventArgs e)
    {
        _formDataSrouce = e.DataSource;

    }

    private void btnCancel_OnClick(object sender, FieldClickEventArgs e) {
        Session.UserID = string.Empty;
        NavigationManager.NavigateTo("");
    }

    private async void btnSubmit_OnClick(object sender, FieldClickEventArgs e)
    {

        string userId = _formDataSrouce["UserID"].ToStr();
        string password = _formDataSrouce["UserPassword"].ToStr();
        string newPassword = _formDataSrouce["NewPassword"].ToStr();
        string confPassword = _formDataSrouce["ConfPassword"].ToStr();

        if (string.IsNullOrEmpty(userId)) {
            Session.ToastMessage("Please enter User Name!", ToastMessageType.error);
            return;
        }

        if (string.IsNullOrEmpty(password)) {
            Session.ToastMessage("Please enter Password!", ToastMessageType.error);
            return;
        }

        if (string.IsNullOrEmpty(newPassword)) {
            Session.ToastMessage("Please enter New Password!", ToastMessageType.error);
            return;
        }

        if (string.IsNullOrEmpty(confPassword)) {
            Session.ToastMessage("Please enter Confirm Password!", ToastMessageType.error);
            return;
        }

        if (newPassword != confPassword) {
            Session.ToastMessage("New password and confirm password should be same!", ToastMessageType.error);
            return;
        }


        FieldText txtUserID = (FieldText)_fields.Search("UserID");
        FieldText txtUserPassword = (FieldText)_fields.Search("UserPassword");
        FieldText txtNewPassword = (FieldText)_fields.Search("NewPassword");
        FieldText txtConfPassword = (FieldText)_fields.Search("ConfPassword");

        FieldButton btnSubmit = (FieldButton)_fields.Search("btnSubmit");
        FieldButton btnCancel = (FieldButton)_fields.Search("btnCancel");
        btnSubmit.Disabled = true;
        btnCancel.Disabled = true;
        txtUserID.Disabled = true;
        txtUserPassword.Disabled = true;
        txtNewPassword.Disabled = true;
        txtConfPassword.Disabled = true;
        StateHasChanged();

        if (!await Session.LoginAsync(userId, password)) {
            Session.ToastMessage("Invalid User Name or Password!", ToastMessageType.error);
            btnSubmit.Disabled = false;
            btnCancel.Disabled = false;
            txtUserID.Disabled = false;
            txtUserPassword.Disabled = false;
            txtNewPassword.Disabled = false;
            txtConfPassword.Disabled = false;

            _fields.Render = true;
            StateHasChanged();
            return;
        }

        // All validation are Ok, reset password
        Session.UserID = userId;
        string errorMsg = await ChangePasswordAsync(newPassword);
        if (string.IsNullOrEmpty(errorMsg)) {
            //Show success message
            _passwordChangedSuccess = true;
            StateHasChanged();
        }
        else {
            Session.ToastMessage(errorMsg, ToastMessageType.error);
        }
    }

    public async Task<string> ChangePasswordAsync(string newPassword) {
        string url = string.Format("Login/ChangePassword");
        JObject postData = new JObject();
        postData.Add("newPwd", newPassword);
        return await Session.PostJsonAsync<string>(url, postData);
    } 


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            await InitAsync();
        }
    }


}


