<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  
	<!-- Website Session Expire Time In Minute, set 0 to never expire -->
	<add key="SESSION_EXPIRE_TIME" value="60"></add>
	
	<!-- Website Folders Settings -->
	<add key="UPLD_FOLDER" value="..\..\Websites\Uploads"></add>
	<add key="WEB_CLIENT_ROOT_FOLDER" value="..\WebClient\wwwroot"></add>
	
	<!-- Report Server Settings -->
	<add key="MRS_RPT_GEN_USE_WS" value="true"/>
	<add key="MRS_RPT_OUTPUT_USE_WS" value="true"/>

	<add key="RPT_SERVER" value="http://localhost/PUB/ReportService/LaunchReport.asmx"></add>
	<add key="XTRA_REPORT_SERVICE" value="http://localhost/PUB/MecWiseServices/XtraReportService.asmx"></add>
	<add key="MRS_BATCH_REPORTS_URL" value="http://localhost/PUB/ReportService/AppFilesAccessService.asmx"/>
	<add key="MRS_BATCH_REPORTS_ROOT" value="http://localhost/PUB/BatchReports/"></add>
	<add key="FileTransferServiceUrl" value="http://localhost/PUB/MecWiseServices/FileTransferService.asmx"/>

	<add key="TOOLKIT_FOLDER" value="D:\@Websites\MecWiseHRV5_PUB\20200810\MecWise.Toolkit\"></add>    <!-- Path on App Server -->
	<add key="ACTIVE_REPORT_FOLDER" value="~\Reports\"></add>
	<add key="BATCH_REPORT_FOLDER" value="~\BatchReports\"></add>
	<add key="ACTIVE_REPORT_FOLDER_1" value="~\Reports\CHN\"></add>
	<add key="REPORT_FILE_SUFFIX_1" value="CHN"></add>

	<add key="XTRA_REPORT_FOLDER" value="D:\@Websites\MecWiseHRV5_PUB\20200810\Websites\Reports\"></add>    <!-- Path on Web Server -->
	<add key="LogEnabled" value="true"/>
	<add key="LogFilePath" value="~\logs\"/>
	<add key="LogFileName" value="MecWiseXtraReports_Web.log"/>

	<!-- SMTP Server Settings -->
	<add key="SC_SMTP_SERVER" value="mwpeople"></add>
	<add key="SMTPServer" value="mwpeople"></add>
	<add key="SMTPAuthEnabled" value="true"/>
	<add key="SMTPTLSProtocolEnabled" value="false"/>
	<add key="SMTPAuthAccessKey" value="D84fYbbNgbO+PwTbXcDyu9iwUp3ZFKd6HwNY+u0mhw4akerOfWFtXJsVu74rQfpCJ63yCg==" />
	<add key="SMTPAuthAccessDomain" value=""/>
	<add key="SMTPCustomPortEnabled" value="true"/>
	<add key="SMTPCustomPortNumber" value="8825"/>
	<add key="EPF_SCPROTOCOL_ENABLED" value="false"/>

	<!-- Workflow Server Settings -->
	<add key="LogPath" value="~\..\Logs\"/>
	<add key="LogPrefix" value="MecWiseWorkflow_Web"/>
	<add key="WF_MAIL_FROM_ADD" value=""/>
	<add key="WF_MAIL_REPLY_TO" value=""/>

	<!-- Push Notification -->
	<add key="NtfnPushNotiEnabled" value="false"/>
  
</appSettings>
