<?xml version="1.0" encoding="utf-8" ?>
<connectInfo>
  <add key="PUB" value="Server=localhost\SQL2017;Database=MecWiseHRV5_PUB;EncID=P1ZfuMllXvi9z6I4Q0x/eD1cYOc=" />
	<add key="SDA" value="Server=localhost\SQL2017;Database=MecWiseHRV5_PUB;EncID=P1ZfuMllXvi9z6I4Q0x/eD1cYOc=" />
	<add key="DEFAULT" value="Server=localhost\SQL2017;Database=MecWiseHRV5_PUB;EncID=P1ZfuMllXvi9z6I4Q0x/eD1cYOc=" />
</connectInfo>
